## Settings file was created for RandomLoadout defaults.
## Plugin GUID: randomgun.randomloadout

[General]
## Enable or disable the automatic start-of-run loadout grant.
# Setting type: Boolean
# Default value: true
EnableRandomLoadout = true
